body {
    margin: 0;

    header {
        padding: 0 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;

        img {
            border: 1px solid black;

        }
    }
    
    main.content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 100vh;
        width: 100%;

        img {
            height: calc(10vh - 2px);
            width: calc(10vw - 2px);
            border: 1px solid black;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        height: 100vh;
        

        input {
            height: 5vh;
            width: 10vw;
            margin-top: 15px;
            color: #b3babe;
        }

        .submit {
            color : #3e9532;
            background-color: #318026;
            margin: 20px;
        }

        .cancel {
            color: #af512f;
            background-color: #cc4613;
        }

        input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    }
}