body {
    margin: 0;
}
body main.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
body main.content img {
    height: calc(10vh - 2px);
    width: calc(10vw - 2px);
    border: 1px solid black;
}