.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.form input {
    height: 5vh;
    width: 10vw;
    margin-top: 15px;
    color: #b3babe;
}

.form .submit {
    color : #3e9532;
    background-color: #318026;
    margin: 20px;
}

.form .cancel {
    color: #af512f;
    background-color: #cc4613;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}